<div class="container">
    <h2>Add Invoice Details</h2><hr>
    <div id="d1">
        <table class="uptable">
            <tr>
                <td><b>PO Number : </b>
                    <select name="" id="">
                        <option>PO Number</option>
                        <option>37</option>
                        <option>38</option>
                    </select>
                </td>
                <td><b>Daily Schedule No : </b>
                    <select name="" id="">
                        <option>Daily Schedule No </option>
                        <option>37</option>
                        <option>38</option>
                    </select>
                </td>
                <td><button class="btn-info">Search</button></td>
            </tr>
        </table>
    </div><br>
    <div id="d2">
        <table class="uptable">
            <tr>
                <td><b>PO No: </b></td>
                <td><b>PO Date: </b></td>
                <td><b>Valid From: </b></td>
                <td><b>Valid To: </b></td>
            </tr>
            <tr>
                <td><b>Supplier Name: </b></td>
                <td><b>Supplier Code: </b></td>
                <td><b>Supplier Contact Person: </b></td>
                <td><b>Supplier Address: </b></td>
            </tr>
        </table>
    </div><br>
    <div id="d3">
        <table class="uptable">
            <tr>
                <td><b>Invoice Number:</b><input class="inp1" type="text"></td>
                <td><b>Invoice Date:</b><input class="inp1"  type="date"></td>
                <!-- <td><b>Consignee Name:</b><input type="text"></td> -->
            </tr>
            <tr>
                <td><b>Transporter Name:</b><input class="inp1"  type="text"></td>
                <td><b>Mode of Transporte:</b><input class="inp1"  type="text"></td>
                <td><b>Vehincle No:</b><input class="inp1"  type="text"></td>
            </tr>
        </table>
    </div><br>
    <div id="d4">
        <table border="1">
            <thead>
                <th>Material Code</th>
                <th>Material Description</th>
                <th>No of Packets</th>
                <th>Quantity</th>
                <th>Price per Unit</th>
                <th>Edcs(%)</th>
                <th>Edcs</th>
                <th>Shecess(%)</th>
                <th>Shecess</th>
                <th>VAT/CST(%)</th>
                <th>VAT/CST amount</th>
                <th>Total Amount</th>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td><input class="inpt" type="text"></td>
                    <td><input class="inpt" type="text"></td>
                    <td><input class="inpt" type="text"></td>
                    <td><input class="inpt" type="text"></td>
                    <td><input class="inpt" type="text"></td>
                    <td><input class="inpt" type="text"></td>
                    <td><input class="inpt" type="text"></td>
                    <td><input class="inpt" type="text"></td>
                    <td><input class="inpt" type="text"></td>
                    <td><input class="inpt" type="text"></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Total Net Amount</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div><br>
    <span class="invc"><h5>Please enter the total invoice amount: <input type="text"></h5></span>
    <br><br><br>
    <div style="text-align: center;">
        <a href="/mnginvoice"><button  class="btn-danger">Back</button></a>&nbsp;
        <button class="btn-success">Submit</button>
    </div>
</div>