.container{
    width: 80vw;
}
h2{
    color: brown;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#in{
    background-color: lightgrey;
    width:75vw;
    height: 37vh;
    overflow: auto;
    padding-left: 50px;
    margin-left: 17px;
    border-radius: 8px;
    border: 1px solid lightslategrey;
    /* text-align: center; */
}

table{
    border: 1px solid black;
    width: 100%;
}
thead{
    color: white;
    background-color: rgb(187, 59, 59);
}
td,th{
    padding: 12px;
}
/* h4{
    column-gap:100px;
} */
span{
    margin-left: 100px;
}

#divtable{
    border: 1px solid lightgrey;
    width: 100%;
}