
<div class="container">
    <h2>View Invoice Details </h2><hr>
    <div id="d1">
        <table class="uptable">
            <tr>
                <td><b>PO Number : </b>
                    <select name="" id="" (change)="changeevent($event)">
                        <!-- <option>PO Number</option> -->
                        <option [value]="v.sappoNo" *ngFor="let v of allpos">
                            {{v.sappoNo}}
                        </option>
                    </select>
                </td>
                <td><b>Delivery Schedule No : </b>
                    <select  (change)="changeev($event)">
                        <!-- <option>Delivery Schedule No </option> -->
                        <option [value]="d.dsMainID" *ngFor="let d of alldel">
                            {{d.dsMainID}}
                        </option>
                    </select>
                </td>
                <td><button class="btn-info" (click)="serachpo()">Search</button></td>
            </tr>
            <!-- <tr> {{searchpo}}</tr> -->
        </table>
    </div><br>
    <div id="d2">
            <table class="uptable"  *ngFor="let p of allpos;">
                <!-- *ngFor="let p of allpos" -->
                    <tbody  *ngIf="p.sappoNo==selectedPO">
                        <!-- *ngIf="p.sappoNo==searchpo" -->
                    <tr>
                        <td><b>PO NO:</b><span>{{p.sappoNo}}</span></td>
                        <td><b>PO Date: </b><span>{{p.poDate}}</span></td>
                        <td><b>Valid From: </b><span>{{p.validFrom}}</span></td>
                        <td><b>Valid To: </b><span>{{p.validTo}}</span></td>
                    </tr >
                    <tr>
                        <td><b>Supplier Name: </b><span></span></td>
                        <td><b>Supplier Code: </b> <span></span></td>
                        <td><b>Supplier Contact Person: </b><span></span></td>
                        <td><b>Supplier Address: </b><span></span></td>
                    </tr>
                    <tr>
                        <td><b>TIN NO:</b><span>{{p.tinNo}}</span></td>
                        <td><b>ECC No:</b><span>{{p.eccNo}}</span></td>
                        <td><b>PAN No:</b><span>{{p.panNo}}</span></td>
                    </tr>
                    </tbody>
            </table>
        </div>
        <br>
        <div id="d3">
            <table class="uptable">
                <tr>
                    <td><b>Invoice Number :</b><input  type="text"></td>
                    <td><b>Invoice Date :</b><input type="date"></td>
                    <!-- <td><b>Consignee Name:</b><input type="text"></td> -->
                </tr>
                <tr>
                    <td><b>Transporter Name :</b><input type="text"></td>
                    <td><b>Mode of Transport :</b><input type="text"></td>
                    <td><b>Vehicle No :</b><input type="text"></td>
                </tr>
    
            </table>
        </div>
       
    <br>
    <div>
     
        <div>
            <table id="t3" border="1">
                <thead>
                    <th>Material Desciption</th>
                    <th>Material code</th>
                    <th>No Of Packets</th>
                    <th>Quantity</th>
                    <th>Price Per Unit</th>
                    <th>Gross Value</th>
                    <th>Cent VAT (%)</th>
                    <th>Cent VAT amount</th>
                    <th>Edn cess. (%)</th>
                    <th>Edn cess amount</th>
                    <th>VAT/CST (%)</th>
                    <th>VAT/CST amount</th>
                    <th>Total</th>
                </thead>
                <!-- *ngFor="let i of inv" -->
                <tr >
                    <td>{{inv.description}}</td>
                    <td>{{inv.materialCode}}</td>
                    <td>{{inv.noOfPKTS}}</td>
                    <td>{{inv.quantity}}</td>
                    <td>{{inv.pricePerUnit}}</td>
                    <td>{{inv.grossValue}}</td>
                    <td>{{inv.centVATPercent}}</td>
                    <td>{{inv.centVATAmount}}</td>
                    <td>{{inv.edncessPercent}}</td>
                    <td>{{inv.edncessAmount}}</td>
                    <td>{{inv.vatcstPercent}}</td>
                    <td>{{inv.vatcstAmount}}</td>
                    <td>{{inv.totalQuantityDespatched}}</td>
                </tr>
            </table>
        </div><br><br>
        <div style="text-align: center;">
            <a href="/mnginvoice"><button class="btn-danger">back</button></a>
         </div>
    </div>
</div>