h2{
    color: brown;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
thead{
    background-color: rgb(187, 59, 59);
    color: white;
}
td,th{
    padding: 3px;
    font-size: 17px;
}
table{
    width: 100%;
    border: 1px solid black;
}
.container{
    width: 80vw;
    /* margin-left: 35px; */
}
span{
    float: right;
}