<div class="container">
    <h2>View Delivery Schedule</h2><hr>
    <div style="width: 75vw;">
    <div><button style="float: right;" class="btn btn-primary">Export to Excel</button></div><br>
    <div class="in">
        <table id="tablediv">
            <tr>
                <td><b>Delivery Schedule No: </b>{{users1.dsMainId}}</td>
                <td><b>Delivery Schedule Date:</b> {{users1.dsEnteredDate}}</td>
            </tr>
            <tr>
                <td><b>Purchase Order no: </b>{{users1.sappoNo}}</td>
                <td><b>Purchase Order Date:</b>{{users1.poDate}}</td>
            </tr>
            <tr>
                <td><b>Supplier Code:</b>{{users1.sapCode}}</td>
                <td><b>Supplier Name:</b>{{users1.supplierName}}</td>
            </tr>
        </table>
    </div>
    </div><br>
    <div style="width: 75vw;">
        <table border="1">
            <thead>
            <th>Material Code</th>
            <th>Material Desciption</th>
            <th>Unit</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{users1.materialCode}}</td>
                    <td>{{users1.materialDescription}}</td>
                    <td>{{users1.unit}}</td>
                </tr>
            </tbody>
        </table><br>
    </div>
    <div style="text-align: center;">
        <a href="/mngdelivery"><button  class="btn-danger">Back</button></a>
    </div>
</div>