<div class="container">
    <h2><i class="fa fa-bars"></i>Payment Advice</h2>
    <hr>
    <div id="d1">
        <div>
            Supplier Code <input type="text"><br><br>
            <label for="date">From Date:</label>
            <input type="date" id="date1" name="date1">
            <br><br>
            <label for="date">To Date:</label>
            <input type="date" id="date2" name="date2">
            <br><br>
            <button class="btn-danger">Submit</button>
        </div>

    </div>
  
