<!-- <div class="chat">
    ChatBot
    <br><br>
</div> -->

<div>
  <div  id="basicbar" *ngFor="let message of messages">
    <div class="message" [ngClass]="{from: message.author === 'bot',to: message.author === 'user'}">
      {{ message.content }}
    </div>
  </div>
  <div class="btn">
    <label *ngIf="messages.length == 0; else dialogInfo" for="nameField"></label><br>
    <input [(ngModel)]="value" (keyup.enter)="sendMessage()" type="text" /> <br>
    <button style="float: left;"  (click)="sendMessage()">Send</button>
    <ng-template #dialogInfo>
    <span [className]="'float-right'">Total messages: {{ messages.length }}</span>
    </ng-template>
  </div>
  
</div>
<br>
<!-- <a class="bar" ><i class="fa fa-2x fa-bars"></i></a> -->
  