<div class="container">
    <h2><i class="fa fa-bars"></i> Edit Circular</h2>
    <hr>
    <div id="d1">
        Subject &nbsp;&nbsp; <input type="text" id="d3">
        <br><br>
        Message
        <input type="text" id="d2">
    </div>

    <div>
        <a href="">Results 1-3 of 3</a><br><br>
        <table border="1">
            <thead>
                <th>Select Venders <input type="checkbox"></th>
                <th>Sr.No</th>
                <th>Supplier Code</th>
                <th>Supplier Name</th>
                <th>Supplier Email Id</th>
            </thead>
            <tbody>
                <td><input type="checkbox"></td>
                <td></td>
                <td></td>
                <td></td>
            </tbody>
        </table>
        <br>
        <button class="btn btn-danger">Back</button>&nbsp;&nbsp;
        <button>Update</button>

    </div>
</div>