.container{
width: 80vw;
}

span{float: right;
}
button{
font-size: 18px;
}
table{
width: 100%;
border: 1px solid black;
}
td,th{
padding: 2px;
font-size: 14px;
}
thead{
background-color: rgb(187, 59, 59);
color: white;
font-size: 14px;
}


h2{
color: brown;
font-style: italic;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin-right: 20px;
}
