<div class="container">
    <h2>Scheduling Agreement / PO</h2>
    <hr>
    <div>
        <!-- *ngFor="let user of users" -->
        <div id="in">
            <!-- *ngIf="istoken==user.email" -->
            <h4><b>PO No and Date: </b>
                <span><b>Valid From: </b></span>
                <span> <b>Valid To : </b></span>
            </h4>
            <h4><b>Supplier Name : </b>
                <span><b>Supplier Address: </b></span>
            </h4>

            <h4><b>Supplier Code : </b>
                <span><b>Contact Person: </b></span>
                <span><b>Service Tax N0: </b></span>
            </h4>

            <h4><b>TIN No: </b>
                <span><b>ECC No: </b></span>
                <span><b>PAN No: </b></span>
            </h4>
            <h4><b>Header text :</b> <textarea name="" id="" cols="40" rows="3"></textarea></h4>
        </div>
    </div><br>
    <div>
        <table border="1">
            <!-- *ngIf="istoken==user.email" -->
            <thead>
                <th>Sr.no.</th>
                <th>Material Description</th>
                <th>Material code</th>
                <th>Unit</th>
                <th>Price/Unit</th>
                <th>Cent VAT (%)</th>
                <th>Service Task (%)</th>
                <th>Edn. Cess (%)</th>
                <th>Sec. & Hours Edn. Cess (%)</th>
                <th>VAT/CST (%)</th>
            </thead>
            <tbody>
                <tr>
                    <!-- *ngFor="let user of users" -->
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>No</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
