
<div class="container">
    <h2>View Invoice Details</h2>
    <hr>


    <div id="d2">

        <div>
            <h5><b>Invoice Number</b></h5>
            <h5><b>Consignee Name </b></h5>
            <h5><b>Transporter Name</b></h5>
        </div>
        <div>
            <h5><b>Invoice Date </b></h5>
            <h5><b>Vehicle No</b></h5>
            <h5><b>Mode of Transport</b></h5>
        </div>

    </div><br>
    <div id="d3">
        <div>
            <h5><b>PO No</b></h5>
            <h5><b>TIN No</b></h5>
            <h5><b>PAN No</b></h5>
            <h5><b>Valid Form</b></h5>
            <h5><b>Service Tax No</b></h5>
            <h5><b>Supplier Address</b></h5>
        </div>
        <div>
            <h5><b>PO Date</b></h5>
            <h5><b>Ecc No</b></h5>
            <h5><b>Supplier Contact Person</b></h5>
            <h5><b>Valid To</b></h5>
            <h5><b>Supplier Code</b></h5>
            <h5><b>Plant Code</b></h5>

        </div>

    </div><br>
    <div id="d4">
        <table border="1">
            <thead>
                <th>Material Description</th>
                <th>Material Code</th>
                <th>No of Pkts</th>
                <th>Quantity</th>
                <th>Price Per Unit</th>
                <th>Gross Value</th>
                <th>Service Tax(%)</th>
                <th>Service Tax Amount</th>
                <th>Cent VAT(%)</th>
                <th>Cent VAT Amount</th>
                <th>Edn.Cess(%)</th>
                <th>Edn.Cess Amount</th>
                <th>Sec. & Hr. Edn.Cess(%)</th>
                <th>Taxable</th>
                <th>VAT/CST Amount</th>
                <th>Packaging</th>
                <th>Freight</th>
                <th>Others</th>
                <th>Total Amount</th>

            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div><br>


    <div style="text-align: center;">
        <button class="btn-danger">Back</button>&nbsp;

    </div>
</div>