<div class="container">
    <h2><i class="fa fa-bars"></i>View Circular</h2>
    <hr>
    <div>
        <div id="out">
            <table>
                <tr>
                    <td>
                        <h4><b>Subject</b></h4>
                    </td>
                    <td><input type="text" placeholder="text for circular"></td>
                </tr>
                <tr>
                    <td>
                        <h4><b>Message </b></h4>
                    </td>
                    <td><textarea rows="5" cols="30" placeholder="text for circular"></textarea></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<br><br>
<div style="width: 75vw;">
    <table border="1">
        <thead>

            <th>Supplier Code</th>
            <th>Supllier Name</th>
            <th>Supplier Email Id</th>
            <th>Contact Person</th>
            <th>Supplier Address</th>
            <th>Viewed</th>
            <th>Viewed On</th>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>
        </tbody>
    </table>
</div>
<br><br>
<div style="text-align: center;">
    <button class="btn-danger">Back</button>
</div>