<div class="container">

    <h2><i class="fa fa-bars"></i>Add Delivery Schedule</h2>
    <hr>
    <div style="width: 85vw;">
        <div id="d1">
            Supplier Code: &nbsp;<select name="co" id="co">
                <option value="co1">KRISHNA INDUSTRIES(100017)</option>
            </select> &nbsp; &nbsp;
            Purchase Order Number: &nbsp;<select name="code" id="code">
                <option value="code1"> 7210001643</option>
            </select>&nbsp;&nbsp;

            <input type="radio" value="Weekly">Weekly<input type="radio" value="Daily">Daily
             
            <button class="btn btn-primary">Submit</button>

        </div><br>
        <div class="in">
            <div>
                <h4><b>Purchase Order No </b></h4>
                <h4><b>Supplier Code </b></h4>
                <h4><b>Created Date</b></h4>
            </div>
            <div>
                <h4><b>Purchase Order Date</b></h4>
                <h4><b>Supplier Name</b></h4>
                <h4><b>Month</b></h4>
            </div>
        </div>
    </div><br>
   

    <div style="width: 70vw;">
        <table border="1">
            <thead>
                <th>S.No</th>
                <th>Material Desciption</th>
                <th>Material Code</th>
                <th>Request For 03-Aug-14</th>
                <th>Request For 04-Aug-14</th>
                <th>Request For 05-Aug-14</th>
                
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    

                </tr>
            </tbody>
        </table><br>
       
    </div>

</div>

