<div class="container">
    <h2><i class="fa fa-bars"></i> Manage Delivery Schedule</h2>
    <hr>
    <div id="d1">
        Supplier Code <input type="text"><b> &nbsp; OR </b>&nbsp; Supplier Name <input type="text">&nbsp;
        <b>OR</b>&nbsp;Delivery Schedule Type

        <select name="type" id="type">
            <option value="type1">All</option>
        </select>&nbsp;&nbsp;
        <button class="btn btn-danger">Search</button>
    </div><br>
    <button class="btn-danger">Upload Schedule</button><span><button class="btn-danger">Export to
            Excel</button>&nbsp;&nbsp;<a href="/AddDeliverschedule"><button class="btn-danger">Add Deelivery Schedule</button></a></span>
    <div><br><br>
        <a href="">Results 1-100 of 114</a> <br><br>
        <table border="1">
            <thead>
                <th>Supplier Name</th>
                <th>Supplier Code</th>
                <th>Purchase Order No.</th>
                <th>Purchase Order Date</th>
                <th>Delivery Schedule Date</th>
                <th>Delivery Schedule</th>
                <th>Creayted By</th>
                <th>Update Delivery Schedule</th>
                <th>Created Date</th>
                <th>Last Updated Date</th>
                <th>Last Updated By</th>
                <th>Schedule Type</th>
                <th>Plant</th>
            </thead>
            <tbody>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="/ViewDeliverySchedule">View</a>| <a>Print</a></td>
                <td></td>
                <td></td>
                <td><a>Update</a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>


            </tbody>
        </table>
    </div>
</div>