<div class="container">
    <h2>View Circular</h2><hr>
    <div>
        <div id="out">
            <table>
                <tr>
                    <td><h4><b>Subject</b></h4> </td>
                    <td><input type="text" value="{{arr.subject}}"></td>
                </tr>
                <tr>
                    <td><h4><b>Message </b></h4></td>
                    <td><textarea rows="3" cols="30" value="{{arr.message}}"></textarea></td>
                </tr>
            </table>
        </div><br><br>
        <div style="text-align: center;">
            <a href="/mngcircular"><button class="btn-danger">Back</button></a>
        </div>
    </div>
</div>