<div class="container">
    <h2><i class="fa fa-key"></i> Change Password</h2>
<hr>
<div id="main">
    <div id="d1">
        <table>
            <tr>
                <td><h5><b>Old Password</b></h5></td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td><h5><b>New Password</b> </h5></td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td><h5><b>Retype New Password</b> </h5></td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td></td>
                <td><button>Save</button></td>
            </tr>
        </table>
    </div>
</div>
</div>