h2{
    color: brown;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    width: 80vw;
}
td{
    padding: 5px 20px;
}
#d1{
    background-color: lightgray;
    width: 50%;
    /* border-radius: 8px; */
    border: 1px solid gray;
    margin: 20px;
}
#main{
    display: flex;
}
