<div class="container">
    <h2>Goods Receipt / MRR</h2><hr>
        <div class="d1" >
            <div>
                <h4><b>GRN No :</b></h4>
                <h4><b>Invoice No :</b></h4>
            </div>
            <div>
                <h4><b>GRN Date :</b></h4>
                <h4><b>Invoice Date :</b></h4>
            </div>
        </div><br>
        <div class="d1">
            <div>
                <h4><b>Plant :</b></h4>
                <h4><b>Store Location :</b></h4>
                <h4><b>Supplier Code :</b></h4>
                <h4><b>Name :</b></h4>
                <h4><b>PO No :</b></h4>
            </div>
            <div>
                <h4><b>J1IA No :</b></h4>
                <h4><b>Exercise Doc. No.: </b> </h4>
                <h4><b>Exercise Invoice Date :</b></h4>
                <h4><b>Doc Header Text :</b></h4>
            </div>
        </div><br>
        <div id="d2">
            <table border="1">
                <thead>
                <th>Material Code</th>
                <th>Material Desciption</th>
                <th>Inspection Lot.</th>
                <th>UOM</th>
                <th>GRN QTY</th>
                <th>Received QTY.</th>
                <th>Accept QTY.</th>
                <th>Reject Quantity </th>
                <th>Reject Reason</th>
            </thead>
            <tbody>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>0</td>
                <td></td>
            </tbody>
            </table>
        </div><br><br>
        <div style="text-align:center">
           <a href="/trackdelivery"> <button class="btn-danger">Back</button></a>
        </div>
</div>