<nav class="sidebar">
  <div>
        <a href="/home">
            <!-- <button class="btn"> -->
                <li class="list-unstyled"><i class="fa fa-home"></i> Home</li>
            <!-- </button> -->
        </a><br/><br/>
        <a href="/po">
                <li class="list-unstyled"><i class="fa fa-shopping-cart"></i> Purchase Order</li>
        </a><br/><br/>
        <a href="/mngdelivery">
                <li class="list-unstyled"><i class="fa fa-truck"></i> Manage Delivery Schedule</li>
        </a><br/><br/>
        <a href="/mnginvoice">
                <li class="list-unstyled"><i class="fa fa-file"></i> Manage Invoice Details</li>
        </a><br/><br/>
        <a href="/trackdelivery">
                <li class="list-unstyled"><i class="fa fa-map-marker"></i> Track Delivery Status</li>
        </a><br/><br/>
        <a href="/mngcircular">
                <li class="list-unstyled"><i class="fa fa-bars"></i> Manage Circulars</li>
        </a><br/><br/>
        <a href="/chngpass">
                <li class="list-unstyled"><i class="fa fa-key"></i> Change Password</li>
        </a><br/><br/>
    </div>
    <div>
      <app-admin-menu></app-admin-menu>
    </div>
</nav>

<!-- <div class="sidebar" role="cdb-sidebar" color="white">
        <div class="sidebar-container">
          <div class="sidebar-header">
            <a class="sidebar-brand">Multi Level</a>
            <a class="sidebar-toggler"><i class="fa fa-bars"></i></a>
          </div>
          <div class="sidebar-nav">
            <div class="sidenav">
              <a class="sidebar-item">
                <div class="sidebar-item-content">
                  <i class="fa fa-th-large sidebar-icon sidebar-icon-lg"></i>
                  <span>Dashboard</span>
                </div>
              </a>
              <a class="sidebar-item">
                <div class="sidebar-item-content">
                  <i class="fa fa-sticky-note sidebar-icon"></i>
                  <span>Components</span>
                </div>
              </a>
            </div>
            <div class="sidebar-footer">
              Sidebar Footer
            </div>
          </div>
        </div>
      </div> -->