<div class="container">
    <h2><i class="fa fa-map-marker"></i> Track Delivery Status</h2>
<hr>
<div id="d1">
    <table>
     <tr>
         <td><b>Po Number: </b></td>
         <td><input type="text"></td>
     </tr>
     <tr>
        <td><b>Invoice Number: </b></td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td><b>From Date: </b></td>
        <td><input type="date"></td>
    </tr>
    <tr>
        <td><b>To Date: </b></td>
        <td><input type="date"></td>
    </tr>
    <tr>
        <button class="btn-danger">Submit</button>
    </tr>
    </table>
</div><br>
<div id="d2">
 <table id="t2" border="1">
     <thead>
         <th>GRN No.</th>
         <th>GRN Date</th>
         <th>Invoice No.</th>
         <th>Invoice Date</th>
         <th>Action</th>
     </thead>
     <tbody>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td><a href="/grn">View GRN Details</a></td>
     </tbody>
 </table>
</div>
</div>