h2{
    color: brown;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    width: 80vw;
}
#d1{
 background-color: lightgray;
 width: 60%;
 padding: 15px;
 margin-left: 200px;
 border-radius: 5px;
}
thead{
    background-color: rgb(187, 59, 59);
    color: white;
}
td,th{
    padding: 3px;
    font-size: 16px;
}
#t2{
    border: 1px solid black;
    width: 100%;
}
