.container{
    width: 80vw;
}
span{
    float: right;
}
#d1{
    background-color: lightgray;
    width: 55vw;
    margin-left:10px;
    padding: 10px;
    /* column-gap: 50px; */
    /* column-count: 3; */
}
h2{
    color: brown;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#out{
    /* background-color: lightgray; */
    width: 80%;
    margin-left: 80px;
    padding: 10px;
}
table{
    width: 100%;
    border: 1px solid black;
}
thead{
    background-color: rgb(187, 59, 59);
    color: white;
}
td,th{
    padding: 5px;
    font-size: 17px;
}