
<div class="container">
    <h2>Edit Suppliers </h2>
    <hr>
    <div id="d1">
        <table class="t1">
            <tr>
                <td><b>Supplier LoginId: </b></td>
                <td>10000</td>
                <td><b>Password: </b></td>
                <td><input type="text"/></td>
            </tr>
            <tr>
                <td><b>Supplier Name: </b></td>
                <td>Maruti Udyog Limited</td>
            </tr>
            <tr>
                <td><b>Supplier code: </b></td>
                <td>10000</td>
                <td><b>Email ID: </b></td>
                <td><input type="text"/></td>
            </tr>
            <tr>
                <td><b>Supplier Address: </b></td>
                <td>Delhi</td>
            </tr>
            <tr>
                <td><b>supplier contact person: </b></td>
                <td><input type="text"/></td>
                <td><b>contact no:</b></td>
                <td><input type="text"/></td>
            </tr>
            <tr>
                <td><b>Mobile No:</b></td>
                <td><input type="text"/></td>
                <td><b>Provide Portal Access: </b></td>
                <td><input type="checkbox"/></td>
            </tr>
            <tr>
                <td><b>Disable: </b></td>
                <td><input type="checkbox"/></td>
            </tr>
        </table>

    </div>
    <a>Results 1-100 Of 195</a> <span><button class="btn-danger">Export to Excel</button></span>

    <table border="1">
        <thead>
            <th>Page Desciption</th>
            <th>Access <input type="checkbox"/> </th>            
        </thead>
        <tbody>
                <tr>
                    <td>Home</td>
                    <td><input type="radio"/></td>
                </tr>
                <tr>
                    <td>Reports</td>
                    <td><input type="radio"/></td>
                </tr>
                <tr>
                    <td> Track Delivery Status</td>
                    <td><input type="radio"/></td>
                </tr>
                <tr>
                    <td>Invoice Details</td>
                    <td><input type="radio"/></td>
                </tr>
                <tr>
                    <td>Manage Scheduling agreement</td>
                    <td><input type="radio"/></td>
                </tr>
                <tr>
                    <td>Change Password</td>
                    <td><input type="radio"/></td>
                </tr>
                <tr>
                    <td>Manage Delivery Schedule</td>
                    <td><input type="radio"/></td>
                </tr>
                <tr>
                    <td>Manage Circulars</td>
                    <td><input type="radio"/></td>
                </tr>
                <tr>
                    <td>statement of Account</td>
                    <td><input type="radio"/></td>
                </tr>
                <tr>
                    <td>Payment Advice</td>
                    <td><input type="radio"/></td>
                </tr>
        </tbody>
    </table><br>
    <div style="text-align:center">
        <button>Submit</button> &nbsp; <button>Cancel</button>
    </div>

</div>